<style>
    .segment-spinner {
        width: 100px;
        height: 100px;
        background: conic-gradient({{ playerColor }} 25%, rgba({{ rgbColor }}, 5%) 25%);
        border-radius: 50%;
        animation: segment-spin 1.15s linear infinite;
        -webkit-animation: segment-spin 1.15s linear infinite;
        margin: 0 auto;
    }
    @keyframes segment-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="segment-spinner"></div>