<style>
    .loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: inline-block;
        border-top: 8px solid {{ playerColor }};
        border-right: 8px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-bottom: 8px solid {{ playerColor2 }};
        border-left: 8px solid transparent;
    }
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="loader"></div>