<style>
    .pulse {
        width: 100px;
        height: 100px;
        background-color: {{ playerColor }};
        border-radius: 50%;
        animation: pulse-animation 1.5s infinite;
        margin: 0 auto;
    }
    @keyframes pulse-animation {
        0%,
        100% {
            transform: scale(0.8);
            opacity: 1;
        }
        50% {
            background-color: {{ playerColor2 }};
            transform: scale(1.5);
            opacity: 0.5;
        }
    }
</style>
<div class="pulse"></div>