<div class="row">
	<div class="col-12">
		<h1 class="h4 mb-3">{{ title }}</h1>
		<form action="{{ admin_dir }}/gdrive/new/" method="post" class="needs-validation" novalidate>
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" class="form-control" maxlength="100" required>
					</div>
					<div class="form-group">
						<label for="api_key">API Key</label>
						<input type="text" name="api_key" id="api_key" class="form-control" maxlength="50" required>
					</div>
					<div class="form-group">
						<label for="client_id">Client ID</label>
						<input type="text" name="client_id" id="client_id" class="form-control" maxlength="100" required>
					</div>
					<div class="form-group">
						<label for="client_secret">Client Secret</label>
						<input type="text" name="client_secret" id="client_secret" class="form-control" maxlength="50" required>
					</div>
					<div class="form-group">
						<label for="refresh_token">Refresh Token</label>
						<input type="text" name="refresh_token" id="refresh_token" class="form-control" maxlength="150" required>
					</div>
					<div class="form-group form-row">
						<label for="bypass" class="col-6 text-right">Bypass Limit Account Type</label>
						<div class="col-6">
							<div class="custom-control custom-checkbox">
                                <input type="hidden" name="bypass" value="0">
								<input type="checkbox" class="custom-control-input" name="bypass" id="bypass">
								<label class="custom-control-label" for="bypass">Yes</label>
							</div>
						</div>
					</div>
					<div class="form-group form-row">
						<label for="status" class="col-6 text-right">Status</label>
						<div class="col-6">
							<div class="custom-control custom-checkbox">
                                <input type="hidden" name="status" value="0">
								<input type="checkbox" class="custom-control-input" name="status" id="status">
								<label class="custom-control-label" for="status">Enable</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="hidden" name="csrf" value="{{ csrf }}">
						<button type="submit" class="btn btn-success">
							<em class="fas fa-save mr-2"></em>Save
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
