<div class="a2a_kit a2a_kit_size_32 a2a_floating_style shadow" style="min-width:auto!important">
    <a class="a2a_button_facebook d-none d-sm-block" href="javascript:void(0)" aria-label="Share to Facebook" rel="nofollow"></a>
    <a class="a2a_button_twitter d-none d-sm-block" href="javascript:void(0)" aria-label="Share to X" rel="nofollow"></a>
    <a class="a2a_button_whatsapp d-none d-sm-block" href="javascript:void(0)" aria-label="Share to Whatsapp" rel="nofollow"></a>
    <a class="a2a_button_telegram d-none d-sm-block" href="javascript:void(0)" aria-label="Share to Telegram" rel="nofollow"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share" aria-label="Share to Other Social Media" rel="nofollow"></a>
</div>
<script src="https://static.addtoany.com/menu/page.js" defer async></script>
