<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="referrer" content="no-referrer">
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
        <title>Vixstream parser</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    </head>
    <body>
        <div id="vplayer"></div>
        <script src="https://ssl.p.jwpcdn.com/player/v/8.26.0/jwplayer.js"></script>
        <script>{{ jsCode }}</script>
        <script>
            $(document).ready(function() {
                var config = jwplayer().getConfig();
                $.ajax({
                    url: "{{ baseURL }}parser/vixstream/{{ id }}",
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify({
                        sources: config.sources,
                        title: $("title").text().trim(),
                        image: config.image,
                    }),
                }).done(function (response) {
                    console.log(response);
                });
            });
        </script>
    </body>
</html>
